@media(max-width: 767px){
/* ~~~~~~~~~~~~~~~~~~~header-logo~~~~~~~~~~~~~~~~~~~~~~~~ */
.book-logo_day{
    width: 28.5px;
    height: 32px;
    /* background-image: url(./assets/images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover; */

}























}


